# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.swp
*.swo

# Virtual environment
venv/
.env
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyCharm project files
.idea/
*.iml
